@import "partial/color";
@import "partial/size";

#app {
  display: grid;
  grid-gap: 1rem;
  justify-items: center;

  img {
    width: calc(25% - 5rem);
  }
}

img:hover {
  transition: 0.5s ease;
  opacity: 0.5;
}

h1 {
  color: $red;
}